.nav-container {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 220px;
  border-bottom: 1px solid black;
  background-color: #4096f6;
}

.nav-icon {
  float: left;
  text-align: center;
  width: 100%;
  height:70px;
  font-size: 22px;
  color:#ffffff;
  background-color: rgba(176,233,255, 0.5);
  line-height: 70px;
}
.nav-icon-text {
  display: inline-block;
  vertical-align: middle;
}
.nav-icon .amp{
  color: #ffbc68
}
.tabs-container{
  display:inline-block;
  float: left;
  width: 100%;
}

.tab {
  display:inline-block;
  float: left;
  padding:26px 0px;
  font-size: 16px;
  width:100%;
  text-align: center;
}
.tab:hover{
  cursor: pointer;
}
a{
  color:#feff66;
}
.selected{
  position: absolute;
  width:100%;
  height: 70px;
  top:0px;
  left:0px;
  right:0px;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 0px 5px 5px 0px;
  transition: all .4s;
}

@media (max-width: 900px) {
  .nav-container {
    left: 0px;
    top: 0px;
    bottom: none;
    right: 0px;
    height: 70px;
    border-bottom: 1px solid black;
    background-color: #4096f6;
    width:100%;
    position: relative;
  }
  .tabs-container{
    width: calc(100% - 220px);
  }
  .tab{
    width: 20%;
    float:left;
  }
  .nav-icon{
    width:220px;
  }
  .selected{
    width: 220px;
  }
}
